/* Don't use px */
/* Font scale with clamp(rem, vw, rem) */
/* Spacing should use rem, emp, %, and maybe vw */
h1 {
  color: #252525;
  /* font-size: 80px; */
  /* Font-size needs to be bigger */
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-weight: 200;
}

html {
  font-size: 100%;
}
main {
  height: 100vh;
  /* width: 100vw; */
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Poppins";
  font-size: 1rem;
}

body {
  overflow: hidden;
  margin: 0;
}

/* Mainpage CSS */
.container {
  min-width: 400px;
  max-width: 700px;
  width: 50vw;
  min-height: 640px;
  height: 70vh;
  overflow: hidden;
}

#bold-header {
  font-weight: 900;
  color: #77e9f4;
}

.button-container {
  gap: 0.75rem;
  height: auto;
  background-color: red;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

.individual-button-container {
  min-height: 30px;
  min-width: 25px;
  flex: 1;
  color: green;
}
.faq-icon {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  /* border-radius: 0.4rem; */
}
.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
  padding: 0.75em 1em; /* remove default padding */
  border: none; /* remove default border */
  font: inherit; /* inherit typography */
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  appearance: none; /* removes native OS styling */
  background: none; /* remove default background */
  cursor: pointer;
  font-family: "Poppins";
  color: inherit; /* inherit text color */
}
.btn:hover {
  color: pink;
}
/* Page CSS */
.page-layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.page {
  width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  padding: 4%;
  touch-action: none;
  user-select: none;
  z-index: 1;
  /* position: absolute; */
  overflow: hidden;
  visibility: hidden;
}

#faq {
  width: 900px;
  height: 600px;
  color: #ff0000;
  background-color: #fff000;
}

#about {
  width: auto;
}

/* Shared elements */
.topbar {
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #414141;
  justify-content: space-between;
  flex-direction: row;
  color: white;
  align-content: center;
  padding: 0%;
  position: relative;
  padding-inline: 25px;
}

.topbar-header {
  color: white;
  flex-direction: row;
  justify-content: space-between;
}

.topbar-close {
  right: 20px;
  color: green;
}

.content {
  width: 100%;
  height: calc(100% - 60px);
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid gray;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
