h1 {
    color: #ffffff;
    font-size: 80px;
}

html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(133, 133, 133);
    flex-flow:column;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.container {
    width: 500px;
    height: 500px;
    background-color: #414141;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}

.draggable {
  width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  touch-action: none;
  user-select: none;
  z-index: 1; 
  position: absolute;
}